/* there's a white bar at the bottom but due to the fact that i got rid
of the translate of the div and as i was trying to port the things from
tags to classes so as to get rid of conflicts at React */
/* EXPERIMENTAL AREA TOUCH AT YOUR OWN RISK */
/* ALL CSS/ GLOBAL */
/* *,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */
/* Add a body margin zero in the public css for react */
/* body {
  margin: 0;
} */
.user--signup--all * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* BODY CSS */
.user--signup--all {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #080710;
  /* height: 1000px; */
  margin: 0;
}

/* FORM IN BODY STYLING */
.user--signup--form {
  margin: auto;
  height: 750px;
  min-width: 450px;
  max-width: 500px;
  background-color: rgba(255, 255, 255, 0.13);
  /* position: absolute; */
  /* transform: translate(-50%, -50%); */
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
}

.user--signup--form * {
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}

.user--form--title {
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

.user--signup--label {
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}

.user--signup--input {
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}

/* TEXT FEILD PLACEHOLDER STYLING */
::placeholder {
  color: #696969;
}

.user--signup--button {
  margin-top: 50px;
  width: 100%;
  background-color: #ffffff;
  color: #080710;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}
