/* How to fix this * man want to get rid of the rid of asterisk */
*,
*:before,
*:after {
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.about--body {
  font-family: poppins;
  /* letter-spacing: -2px; */
  background-color: #080710;
}

/* BODY CSS */
.about {
  margin: 0;
  padding: 0;
  background-color: #080710;
}

/* FORM IN BODY STYLING */
.about {
  /* margin: 30px; */
  /* margin-top: 70px; */
  margin-left: 10%;
  /* height: 820px; */
  width: 60%;
  background-color: rgba(255, 255, 255, 0.13);
  position: relative;
  /* transform: translate(-50%, -50%); */
  /* top: 50%;*/
  /* left: 50%; */
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 60px;
  /* margin-bottom: 100px; */
  margin-left: 20%;
}

.about {
  /* here if we put a star * then it couldnt be overwritten */
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
  /* margin-top: 80px; */
}

.about--title {
  font-size: 4rem;
  text-align: center;
  font-weight: 900;
}

.about--point {
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: 500;
}

.about--desc {
  font-size: 16px;
  font-weight: 100;
}

.about-button-last {
  margin-top: 40px;
  width: 100%;
  background-color: #ffffff;
  color: #080710;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

.about-button-last:hover {
  background-color: #23a2f6;
}
