/* EXPERIMENTAL AREA TOUCH AT YOUR OWN RISK */
/* ALL CSS/ GLOBAL */
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* BODY CSS */
body {
  background-color: #080710;
}

/* NAVBAR START */
.Official-logo {
  width: 72px;
  display: flex;
  /* justify-content: center;
align-items: center; */
  /* margin-left: 1%; */
  padding: 0;
  display: inline-block;
  margin-right: 2%;
  color: antiquewhite;
}

.nav--icon--login {
  filter: invert();
  width: 2.5rem;
}

.navbar-brand {
  display: flex;
  margin: 0;
  padding: 0;
}

.nav--logo_text {
  color: white;
  /* width: 10%; */
  padding-right: 5%;
  font-size: 1.5rem;
}

.language-select {
  text-decoration: none;
  color: azure;
  font-size: 1rem;
  margin-left: 130px;
  margin-right: 10px;
  display: flex;
}

.auth-login-link {
  text-decoration: none;
  color: azure;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  cursor: pointer;
}

.background1 {
  background: rgba(0, 0, 0, 0.7) url(../img/img3.jpg);
  background-size: cover;
  background-blend-mode: darken;
}

.nav-list {
  /* width: 50%; */
  display: flex;
  align-items: center;
}

.nav-list li {
  list-style: none;
  padding: 0px 24px 0 24px;
  font-size: 20px;
  font-family: 'Ubuntu', sans-serif;
}

.nav-list li a {
  text-decoration: none;
  color: white;
}

.nav-list li .nav-list-anc:hover {
  color: black;
  background-color: rgb(255, 255, 255);
}

dl, ol, ul {
  margin-top: 0;
  margin-bottom: 0;
}

/* ol, ul {
    padding-left: 8rem;
} */
ul {
  margin-left: 0;
  margin-right: 0;
}

li {
  margin-left: 0;
  margin-right: 0;
}

/* <============================== CUSTOM NAVBAR FOR SMALL SIZE SCREEN ====================================> */
nav {
  background-color: #0082e6;
  height: 85px;
  width: 100%;
  z-index: 2;
  position: fixed;
}

nav ul li .nav-list-anc {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
}

.nav-list-anc.active, .nav-list-anc:hover {
  background: #1b9bff;
  transition: .5s;
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 1000px) {
  label.logo {
    font-size: 30px;
    padding-left: 30px;
    padding-right: 0;
  }

  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 1100px) {
  nav {
    height: 110px;
  }

  .checkbtn {
    display: block;
  }

  .navbar {
    justify-content: space-around;
  }

  .logo img {
    width: 80px;
    border: 3px solid rgb(245, 245, 245);
    border-radius: 100px;
    margin: 0;
    padding: 0;
  }

  ul {
    text-align: center;
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 110px;
    left: -100%;
    padding-top: 120px;
    transition: all .5s;
  }

  .nav-list {
    /* width: 100%; */
    display: block;
    margin: 0 0 50px 0;
    align-items: center;
    line-height: 30px;
  }

  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  nav ul li a {
    font-size: 20px;
  }

  .nav-list-anc:hover, .nav-list-anc.active {
    background: none;
    color: #0082e6;
  }

  #check:checked~ul {
    left: 0;
  }
}

/* <========================================= NAVBAR END =====================================> */

/* FORM IN BODY STYLING */
form {
  height: 777px;
  min-width: 450px;
  max-width: 500px;
  background-color: rgba(255, 255, 255, 0.13);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
}

form * {
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}

form h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

label {
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}

input {
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}

/* TEXT FEILD PLACEHOLDER STYLING */
::placeholder {
  color: #696969;
}

button {
  margin-top: 50px;
  width: 100%;
  background-color: #ffffff;
  color: #080710;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

.to-do-later {
  color: red;
}
